<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop = "http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/aop 
  		http://www.springframework.org/schema/aop/spring-aop.xsd 
       "
 >
	<bean id="woodWindow" class="ru.specialist.building.WoodWindow" scope="prototype"/>
	<bean id="plasticWindow" class="ru.specialist.building.PlasticWindow" />
	
	<bean id="bricks" class="ru.specialist.building.Brick" scope="prototype"/>
	<bean id="logs" class="ru.specialist.building.Wood" />
	
	<bean id="outDoor" class="ru.specialist.building.MetalDoor" lazy-init="true"/>
	<bean id="innerDoor" class="ru.specialist.building.WoodDoor" scope="prototype"/>
	
	<context:property-placeholder location="house.properties"/>
	
	<bean id="myHouse" class="ru.specialist.building.House"
		p:height="${house.height}" lazy-init="true">
		
		<property name="wall" ref="logs"/>
		
		<property name="doors">
			<map>
				<entry key="A" value-ref="outDoor"/>
				<entry key="B" value-ref="innerDoor"/>
				<entry key="C" value-ref="innerDoor"/>
			</map>
		</property>
		<!-- 
		<property name="doors">
			<list>
				<bean class="ru.specialist.building.WoodDoor"/>
				<ref bean="outDoor"/>
				<ref bean="innerDoor"/>
				<ref bean="innerDoor"/>
			</list>
		</property>
		 -->
		
		<property name="windows">
			<list>
				<ref bean="woodWindow"/>
				<ref bean="woodWindow"/>
			</list>
		</property>
		<!--
		<constructor-arg ref="woodWindow" />
		<property name="window" ref="woodWindow"/> 
		<property name="height" value="3"/>
		 -->
	</bean>


</beans>